<!-- Pum primera interpolación -->
<div class="container">
  <h1>{{title}}</h1>
  <form action="">
  
    Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br/><br/>
  
    Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"><br/><br/>
  
    <input type="submit" value="Sumar" (click)="sumar()">
  
    <input type="submit" value="Restar" (click)="restar()" class="btn btn-primary">
  
  </form>
  <p>Resultado: {{resultado}} </p> 
</div>

<div class="container">
  <h1>{{registro}}</h1>
  <form>
    <input type="text" name="nombre"> <br/><br/>
    <input type="text" name="apellido"> <br/><br/>

    <input type="submit" value="Registrar" (click)="registrarUsuario()">
  </form>
  <p *ngIf="registrado">{{mensaje}}</p>
</div>


